/* Navbar */
.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 100%;
  display: table;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.navbar.act1 {
  padding-top: 30px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0);
}
.navbar.act2 {
  padding-top: 9px;
  height: 85px;
  background-color: rgba(255, 254, 255, 0.99);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
nav.act1>div>a, nav.act1>div>div>a{
  color: rgba(240, 240, 240, 0.8)!important;
}
nav.act2>div>div>a{
  color: rgba(219, 40, 40, 1)!important;
}
nav.act2>div>div>a>i{
  color: rgba(0, 0, 0, 1)!important;
}

#mobile{
  display: none;
}

/* Section1 */
.section1 {
  /* Location of the image */
  background-image: url(../img/home-fit.jpg);
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  /* Makes the background image rescale based on its container's size */
  background-size: cover;
  /* Background color that will be displayed while the background image is loading */
  background-color: #060D17;
  /* At least 100% screen height, dynamically */
  min-height: 100vh;
  /* Place in back */
  z-index: 0;
}
.section1-content{ 
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  -webkit-filter: drop-shadow(8px 8px 8px black) opacity(94%); /* Chrome, Opera, Firefox */
  filter: drop-shadow(8px 8px 8px black) opacity(94%); /* Others */
}
.sec1Slogan{
  color: rgba(255,254,255,0.9);
  font-size: 165%;
}
.img-itac{
  width: 13vw;
}
.img-icon{
  width: 20vw;
}
.sec1Dropdown{
  left: -webkit-calc(50% - 25px);
  left: calc(50% - 25px);
  -webkit-animation: jumping 1.2s ease 0.2s infinite forwards;
  -moz-animation: jumping 1.2s ease 0.2s infinite forwards;
  -o-animation: jumping 1.2s ease 0.2s infinite forwards;
  animation: jumping 1.2s ease 0.2s infinite forwards;

  -webkit-filter: drop-shadow(6px 6px 6px black) opacity(90%); /* Chrome, Opera, Firefox */
  filter: drop-shadow(6px 6px 6px black) opacity(90%); /* Others */
}

@-moz-keyframes jumping {
  0% {
    -moz-transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(0.25em);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-webkit-keyframes jumping {
  0% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(0.25em);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@keyframes jumping {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.25em);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 1060px) {
  .img-itac{
    width: 23vw;
  }
  .img-icon{
    width: 30vw;
  }
}
@media only screen and (max-width: 950px) {
  .img-itac{
    width: 25vw;
  }
  .img-icon{
    width: 33vw;
  }
}
@media only screen and (max-width: 640px) {
  .img-itac{
    width: 30vw;
  }
  .img-icon{
    width: 38vw;
  }
}
@media only screen and (max-width: 550px) {
  .img-itac{
    width: 33vw;
  }
  .img-icon{
    width: 41vw;
  }
}
/* Section1 */
.section2{
  margin: 4em 0em 3em;
}